.cypher .hljs-keyword {
	color: #1d75b3;
}

.cypher .hljs-label {
	font-weight: bold;
}


.cypher .hljs-comment {
	color: gray;
}

.cypher .hljs-properties {
	font-style: italic;
	color: black;
}

.cypher .hljs-node {
	color: #75438a;
}

.cypher .hljs-relationship {
	color: #047d65;
}